body{
    margin: 0 15em;
}
.kelas1 {
    background-color: #F4C6D8;
    margin: 0;
}
img.kelas2 {
    display: inline-block;
    width: 200px;
    float: left;
}
p.kelas3 {
    text-align: center;
    padding: 3em 8em;
}
.font27 {
    font-size: 2.7em;
    font-family: Arial;
}
.font15 {
    font-size: 1.5em;
    font-family: 'Times New Roman';
}
img.kelas4 {
    display: inline-block;
    width: 110px;
    float: right;
}
.kelasA {
    background-color: #CF96B4;
    margin: 0;
    padding: 0;
}
table {
    margin: 0;
    padding: 0;
}